.self_lable{width: 60px;}
.self_input{width: 206px;}
.self_title{background:url("/static/image/title.png"); no-repeat: fixed top; height: 60px;margin-bottom:30px; margin-top: 0px; padding:0px;text-align:center;}
.self_title h2 {color:white; }
.self_title h4 {color:white;  margin-top:20px}
.logout{color:white;}

.self_foot{ text-align:center;  border-top:1px solid #dcdcdc;}
.self_foot div {margin-top: 20px; }
.self_foot  span{padding-top:4px;padding-bottom:4px;line-height:20px; padding-right: 10px;padding-left:10px;
    border-left:1px; border-right: 1px solid transparent;}

.self_alert{ border-width:1px;border-color:black;border-style:solid; background-color:white; color: black}
.self_alert strong {color: red; font-size: 20px  }

.nav-tabs>li>a{padding-top:8px;padding-bottom:8px;line-height:20px;margin:0; padding-right:10px; padding-left:10px; border-left:0; border-right: 1px solid #dcdcdc;
    -webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;}
.nav-tabs{border-bottom:1px solid #0066ee;}
.nav-tabs>.active>a,.nav-tabs>.active>a:hover,.nav-tabs>.active>a:focus{color:white;background-color:#0066ee;
    border:1px solid #ddd;border-bottom-color:transparent;cursor:default;}

.modal-header {border-bottom: 1px solid #0066ee}
.modal-header h3 {color: red}

.modal-body label{height: 20px;
    width: 80px;
    text-align: left;
    clear: both;
    float:left;
    margin-right:15px;
    margin-top: 5px;
    margin-bottom: 5px;}
.modal-body input {height: 30px;}
.modal-body div {margin: 10px;}

.btn {width: 100px;height: 25px; text-align:center;}
.btn-success {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
	background: #0066ee;
  background-repeat: repeat-x;
  border-color: #0066ee;
  color: #fff;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #0066ee;
  background-position: 0 -15px;
	-webkit-box-shadow: 0 0 20px rgba(153, 51, 204, .3);
				  box-shadow: 0 0 20px rgba(153, 51, 204, .3);
	color:#fff;
}
.btn-success.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-close{
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
	background: #86d2f9;
  background-repeat: repeat-x;
  border-color: #86d2f9;
  color: black;
}
.btn-close:hover,
.btn-close:focus {
  background-color: #86d2f9;
  background-position: 0 -15px;
	-webkit-box-shadow: 0 0 20px rgba(153, 51, 204, .3);
				  box-shadow: 0 0 20px rgba(153, 51, 204, .3);
	color:black;
}
.btn-close.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}





.modal-footer{text-align:center;}


.login-backend{
background:-webkit-gradient(radial,50% 50%,0,50% 50%,300,from(#75aaff),to(#0066ee));
}

.login-foot{ text-align:center; color: white}
.login-box{margin-right: auto;margin-left:auto; margin-top:200px; margin-bottom: 100px; color:white}
.login-box h2 {font-weight:600}
.login-box div {text-align: center;margin-left: auto;
margin-right: auto;}
.login-box div span {width: 80px; padding-right: 20px; font-weight: 400; font-size: larger}
.login-box div input{height:30px; background: none;border:0 solid transparent; margin: 0;padding: 0;color: white;box-shadow: none;
}
.login-box div input:focus{background: none;border:0; margin: 0;padding: 0;-webkit-appearance: none;outline: none;box-shadow: none;}



.input_box{width: 310px; border-bottom: 1px solid white; margin-top:4px;}


.login-btn {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
	background: transparent;
  background-repeat: repeat-x;
   margin-top: 30px;
    border: 1px solid white;
  color: #fff;
}
.login-btn:hover,
.login-btn:focus {
  background-color: transparent;
  background-position: 0 -15px;
	-webkit-box-shadow: 0 0 20px rgba(153, 51, 204, .3);
				  box-shadow: 0 0 20px rgba(153, 51, 204, .3);
	color:#fff;
}
.login-btn.active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
